<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Thảo mộc tự nhiên hỗ trợ sức khỏe</h2>
                <hr class="light">
                <p class="text-faded">Sự kết hợp tuyệt vời giữa mật ong, thảo dược thiên nhiên và vitamin mang đến một thức uống giàu dinh dưỡng, tốt cho sức khỏe. Mật ong trong GoGet cung cấp nguồn năng lượng tự nhiên, các chất chống oxy hóa và khoáng chất quý giá. Đây là nguồn dinh dưỡng vô cùng tốt giúp cơ thể thanh lọc, phục hồi nhanh chóng sau khi sử dụng rượu bia. Đồng thời, mật ong cũng giúp điều hòa đường huyết, hỗ trợ tiêu hóa khỏe mạnh</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
