<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Tận hưởng cuộc sống năng động với GOGET</h1>
            <hr>
            <p>Cuộc sống hiện đại thường đi kèm với áp lực công việc và stress không đáng có. Đôi khi, chúng ta cần một chút thư giãn và tận hưởng những giây phút vui vẻ với gia đình, bạn bè. GoGet hiểu được nhu cầu này và mang đến cho bạn một lựa chọn đồ uống lành mạnh, giúp tái tạo năng lượng và hỗ trợ sức khỏe tổng thể!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
